body {
    background-color: rgb(216, 246, 255);
    font-size: 120%;
}

input[type="button"] {
    width: 2.4em;
    height: 2.2em;
    border: 1px solid gray;
    background-color: white;
    margin: 0;
}

input[type="button"]:hover {
    background-color: rgb(255, 255, 216);
}

input[type="text"] {
    width: 100%;
    margin-left: 0.9em;
    margin-right: 0.9em;
    height: 2em;
    text-align: end;
}

input[type="text"]::placeholder {
    color: blue;
    font-weight: bold;
}

div[class="col-3"], div[class="col"], div[class="col-6"] {
    margin: 0;
    padding: 0;
    margin-top: 0.6em;
    justify-content: center;
    display: flex;
}

div[class="container"] {
    width: 230px;
}