table {
    margin: 0 auto;
    margin-bottom: 2em;
}

table, tr, td {
    border-collapse: collapse;
    border: 2px solid black;
}

td {
    padding: 0.5em;
    padding-left: 5em;
    padding-right: 5em;
}

.t1 tr:nth-child(2n-1) td {
    background-color: red;
}

.t1 tr:nth-child(2n) td {
    background-color: green;
}

.t2 tr:nth-child(3) td {
    background-color: red;
}

.t3 tr:nth-child(3n) td {
    background-color: red;
}

.t4 tr:nth-child(3n-2) td {
    background-color: red;
}

.t5 tr:nth-child(3n-1) td {
    background-color: red;
}

.t6 tr:nth-last-child(3n-2) td {
    background-color: red;
}

p {
    text-align: center;
    margin-top: 2em;
}