html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bgMainColor {
    background-color: rgb(137, 118, 245);
}

.bgSecondColor {
    background-color: rgb(221, 216, 245);
}

.bgNavColor:hover {
    background-color: rgb(201, 194, 238);
}

.bgMenuNav {
    background-color: rgb(201, 194, 238);
}

.borderNav {
    border: 5px solid rgb(137, 118, 245);
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.logoFont {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.verysmall {
    font-size: 75%;
}

.smaller {
    font-size: 80%;
}

.top0 {
    position: sticky !important;
    top: -1px;
}

.p-contacto {
    max-width: 100%;
    padding-left: 2em;
    padding-right: 2em;
}

.p-contactar {
    max-width: 100%;
    padding-left: 2em;
    padding-right: 2em;
}

@media (min-width: 800px) {
    .p-contacto {
        max-width: 800px;
    }
}

@media (min-width: 450px) {
    .p-contactar {
        max-width: 450px;
    }
}

.contacto-bg {
    background: rgb(137,118,245);
    background: linear-gradient(180deg, rgba(137,118,245,1) 0%, rgb(255, 255, 255) 100%);
}

input {
    border-style: solid;
}