body {
    background-color: rgb(216, 246, 255);
    font-size: 120%;
}

p {
    margin: 0;
}

input[type="button"] {
    border-radius: 1em;
    border: 1px solid gray;
    background-color: white;
    margin: 0;
    margin-top: 1em;
}

input[type="button"]:hover {
    background-color: rgb(255, 255, 216);
}

input[type="text"] {
    margin-left: 0.9em;
    margin-right: 0.9em;
}

input, select {
    height: 2em;
    width: 85%;
    margin-top: 0.5em;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 0.2em;
}

.container {
    width: 1000px;
}

.row {
    justify-content: center;
    text-align: center;
}

.cuadrado {
    background-color: rgb(171, 224, 240);
    padding-top: 1em;
    padding-bottom: 2em;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
}